<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Upload Image</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                <input id="file-upload" type="file" name="file">
                Choose File
            </label>
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>
